<div id="expo-rio" class="container-full-bg" style="background-image:url('http://static.wixstatic.com/media/ba2abc_ec7a3fdb70c44f939eed6122972409f0.jpg_srb_p_1106_575_75_22_0.50_1.20_0.00_jpg_srb');">
  <div class="container">
    <div class="jumbotron">
      <h2 class="jumbotron-heading" style="text-align: center; margin-bottom: 50px" > Rio de Contas </h2>
    </div>
  </div>
</div>

<div class="marketing">
  <!-- three columns of text below the carousel -->

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
     <h1 class="text-titulo-inicial" style="text-align: center; margin-bottom: 20px"> RIO DE CONTAS </h1>
   </div>
   <div class="col-md-3"></div>
  </div>
  <div class="row row-centered" style="margin-left:20px;">
    <div class="col-md-2 col-centered text-vertical-about-titulo">
      <%= image_tag("logo/eye.svg",  :alt =>"generic placeholder image", width:"120", height:"120") %>
      <h2><a class="btn btn-lg btn-info page-scroll" href="#coleccao-rio" role="button" >A coleção</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-2 col-centered text-vertical-about-titulo">
      <%= image_tag("logo/sun.svg",  :alt =>"generic placeholder image", width:"120", height:"120") %>
      <h2><a class="btn btn-lg btn-info page-scroll" href="#montagem-rio" role="button">A exposição</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-2 col-centered text-vertical-about-titulo">
      <%= image_tag("logo/map.svg",  :alt =>"generic placeholder image", width:"120", height:"120") %>
      <h2><a class="btn btn-lg btn-info page-scroll" href="#cidade-rio" role="button">Rio de Contas</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-2 col-centered text-vertical-about-titulo">
      <%= image_tag("logo/puzzle-piece.svg",  :alt =>"generic placeholder image", width:"120", height:"120") %>
      <h2><a class="btn btn-lg btn-info page-scroll" href="#coleccao-rio" role="button" >Mediação</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-2 col-centered text-vertical-about-titulo">
      <%= image_tag("logo/people.svg",  :alt =>"generic placeholder image", width:"120", height:"120") %>
      <h2><a class="btn btn-lg btn-info page-scroll" href="#montagem-rio" role="button">A residencia</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-2 col-centered text-vertical-about-titulo">
      <%= image_tag("logo/book.svg",  :alt =>"generic placeholder image", width:"120", height:"120") %>
      <h2><a class="btn btn-lg btn-info page-scroll" href="#cidade-rio" role="button">Livro de visitas </a></h2>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

  <!--
  <div class="row">
    <div class="col-lg-4 text-vertical-about-titulo">
      <%= image_tag("logo/puzzle-piece.svg",  :alt =>"generic placeholder image", width:"140", height:"140") %>
      <h2>Mediação</h2>
      <p><a class="btn btn-default page-scroll" href="#coleccao-rio" role="button" >view details &raquo;</a></p>
    </div>
    <div class="col-lg-4 text-vertical-about-titulo">
      <%= image_tag("logo/people.svg",  :alt =>"generic placeholder image", width:"140", height:"140") %>
      <h2>A residencia</h2>
      <p><a class="btn btn-default page-scroll" href="#montagem-rio" role="button">view details &raquo;</a></p>
    </div>
    <div class="col-lg-4 text-vertical-about-titulo">
      <%= image_tag("logo/book.svg",  :alt =>"generic placeholder image", width:"140", height:"140") %>
      <h2> Livro de visitas </h2>
      <p><a class="btn btn-default page-scroll" href="#cidade-rio" role="button">view details &raquo;</a></p>
    </div>
  </div>
  </div>
-->

  <!-- TITULO PARA MOSTRA DA COLEÇÃO 
  <div id="coleccao-rio" class="container-full-bg" style="background-image:url('http://static.wixstatic.com/media/ba2abc_215979fa96834727a775f303ad768f77.jpg_srb_p_1106_575_75_22_0.50_1.20_0.00_jpg_srb');">
    <div class="container">
      <div class="jumbotron">
        <h2 class="jumbotron-heading" style="text-align: center; margin-bottom: 50px" > Coleção de Lembrançãs e Objetos <br> <span style="color: #bbb"> Rio de Contas </span></h2>
      </div>
    </div>
  </div>-->  

  <!--TITULO PARA MOSTRA DA COLEÇÃO -->
  <section id="coleccao-rio" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center text-vertical-about-titulo">
          <h2>Coleção de Lembrançãs e Objetos</h2>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- COMEÇA EXPOSIÇÃO-->
  <div class="container">

    <!-- MAQUINA COSTURA -->
    <div class="row">
      <div class="col-md-12">            
        <div class="featurette">
          <div class="caption">
            <h2 class="featurette-heading"> Máquina de costura <br>  <span class="text-nome"> Lurdes Ramos Pinto Reis | 54 anos </span></h2>
            <p class="lead">"Ele criou costurando ali naquela máquina, fazendo o arreio, que foi a arte que ele ensino para esse filho de criação: fazer cela."</p>
            <a class="btn btn-lg btn-primary go-ext" role="button" >
              <span class="glyphicon glyphicon-plus-sign" ></span>
              <span class="sr-only">mais info</span>
            </a>
          </div>
          <div class="caption-ext">
            <p class="lead_longo">
              É uma máquina de costurar reto. Meu pai criou a gente costurando cela na realidade. Tinha um comércio aqui na frente e no fundo era a celaria e fazia cela para animais.<br><br>
              Ele criou a gente com isso, porque antigamente era muito difícil. Era uma cidade muito precária, não tinha nada praticamente e ele começou com o meu tio que morava naquela casa, ali embaixo, perto do Beco, até as filhas dele estão ali. Meu tio fazia sapatos e naquela sapataria ele empregava várias pessoas e meu pai também trabalhava lá. Ali meu tio foi embora para Brumado e vendeu as máquinas, as coisas e meu pai comprou duas máquinas ou três e foi trabalhar com celas, porque não tinha emprego. Nem a prefeitura na realidade dava emprego na época, porque hoje em dia dá. Então ele fazia solas, celas e assim começou a história da máquina, foi isso.<br><br>
              É de 1823, quantos anos? Na máquina tem uma plaquinha com a idade, eu não sei exatamente. Eu lembro da tenda, dele trabalhando, nós ajudávamos a enfiar as fitinhas que tinha que ser a cela bem enfeitada, como se fosse um passa fita. Eu me lembro dele costurando como tem também Aurélio, um dos rapazes que ele criou que está vivo. Tá com alguns problemas de saúde, mas está vivo.<br><br>
              Ele criou costurando ali naquela máquina, fazendo o arreio, que foi a arte que ele ensino para esse filho de criação: fazer cela. É uma recordação forte. Ali a gente costurando com duas agulhas, eu estou falando hoje em dia ninguém costura com duas agulhas. A gente costurava cangalha, botava uma agulha lá, outra cá no buraquinho e puxava, era tudo furado. Ali a gente vinha a dar os pontos para segurar bem. Botava uma agulha aqui, outra aqui e puxava, mesmo processo, uma ia outra vinha.<br><br>
              Então, essas coisas a gente fazia desde pequenininho, juntava a criançada toda e ia lá para a tenda, que a gente falava: vamos para a tenda de meu pai, a tenda era para fazer isso ai, enfiar os passa fitas na sola, então por isso me veio o gosto de ser artesã também.
            </p>
          </div>
          <img class="featurette-image" src="http://static.wixstatic.com/media/ba2abc_d5aa286444d34b78b03c9327f0096b74.jpg_srb_p_1106_583_75_22_0.50_1.20_0.00_jpg_srb" alt="...">
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- BATEIAS -->
    <div class="row">
      <div class="col-md-12">            
        <div class="featurette">
          <div class="caption">
            <h2 class="featurette-heading"> Bateias garimpo <br> <span class="text-nome">José Silva Ramos (Ziquinha)<br> 79 anos </span></h2>
            <p class="lead">"Uso a bateia há muitos anos. Aquela primeira é nova, é novata, agora a outra tem uma base de uns 60 anos "</p>
            <p><%= link_to "+", "#", class: "btn btn-lg btn-primary", role: "button" %> </p>                
          </div>
          <img class="featurette-image" src="http://static.wixstatic.com/media/ba2abc_d39004319dee42a2b65e92e687e37805.jpg_srb_p_1106_583_75_22_0.50_1.20_0.00_jpg_srb" alt="...">
        </div>
      </div>
    </div>    

    <hr class="featurette-divider">

    <!-- VITROLA -->
    <div class="row">
      <div class="col-md-12">            
        <div class="featurette">
          <div class="caption">
            <h2 class="featurette-heading"> Vitrola <br> <span class="text-nome">Luzinete de Souza Batista <br> 79 anos </span></h2>
            <p class="lead">"Ouvia muita música, o pessoal da roça ia lá para casa a assistir."</p>
            <p><%= link_to "+", "#", class: "btn btn-lg btn-primary", role: "button" %> </p>                </div>
            <img class="featurette-image" src="http://static.wixstatic.com/media/ba2abc_c77b85e3121c4a4eb217254f66d0dca2.jpg_srb_p_1106_583_75_22_0.50_1.20_0.00_jpg_srb" alt="...">
          </div>
        </div>
      </div>    

      <hr class="featurette-divider">

      <!-- /end the featurettes -->

    <!-- TITULO PARA MOSTRA DA EXPOSIÇÃO   -->  
    <section id="montagem-rio" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center text-vertical-about-titulo">
            <h2>Montagem da Exposiçãco</h2>
          </div>
        </div>
        <!-- /.row -->
      </div>
    <!-- /.container -->
    </section>




    <!-- TITULO PARA INFO DA CIDADE   -->  
    <div id="cidade-rio" class="container-full-bg" style="background-image:url('http://3.bp.blogspot.com/_VlaI75QXcj0/SJEVQjyV14I/AAAAAAAAABM/O1Np2-0GNJ8/s1600/DSC00252.JPG');">
      <div class="container">
        <div class="jumbotron">
          <h2 class="jumbotron-heading" style="text-align: center; margin-bottom: 50px" > Rio de Contas <br> <span style="color: #bbb"> Rio de Contas </span></h2>
        </div>
      </div>
    </div>

    <!-- espacio en blanco -->
    <!--ACERCA DEL PROJECTO -->

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center text-vertical-about-titulo">
          <h2>  </h2>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->


  <!-- Map -->
  <section id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d3388.4296552714136!2d-41.81268331194076!3d-13.580782635313566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e2!4m0!4m3!3m2!1d-13.580376!2d-41.813085!5e1!3m2!1spt-BR!2sbr!4v1426508739580"></iframe>
      <br />
      <small>
        <a href="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d3388.4296552714136!2d-41.81268331194076!3d-13.580782635313566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e2!4m0!4m3!3m2!1d-13.580376!2d-41.813085!5e1!3m2!1spt-BR!2sbr!4v1426508739580"></a>
      </small>
  </section>
